---

// Components
import Title from '../ui/Title.astro'
import InfoCardBasic from '../ui/InfoCardBasic.astro'
import Button from '../ui/Button.astro'

// Icons
import { TbCircleArrowUpRightFilled } from 'react-icons/tb'

// Props
export interface Props {
  class?: string
}
const { class: className = '' } = Astro.props

// Data
const services = [
  {
    title: 'Servicio 1',
    text: 'Este es el servicio numero 1',
    href: '/services',
    imgSrc: '/imgs/perro.webp',
    icon: TbCircleArrowUpRightFilled,
  },
  {
    title: 'Servicio 2',
    text: 'Este es el servicio numero 2',
    href: '/services',
    imgSrc: '/imgs/perro.webp',
    icon: TbCircleArrowUpRightFilled,
  },
  {
    title: 'Servicio 3',
    text: 'Este es el servicio numero 3',
    href: '/services',
    imgSrc: '/imgs/perro.webp',
    icon: TbCircleArrowUpRightFilled,
  },
  {
    title: 'Servicio 4',
    text: 'Este es el servicio numero 4',
    href: '/services',
    imgSrc: '/imgs/perro.webp',
    icon: TbCircleArrowUpRightFilled,
  },
  {
    title: 'Servicio 5',
    text: 'Este es el servicio numero 5',
    href: '/services',
    imgSrc: '/imgs/perro.webp',
    icon: TbCircleArrowUpRightFilled,
  },
  {
    title: 'Servicio 6',
    text: 'Este es el servicio numero 6',
    href: '/services',
    imgSrc: '/imgs/perro.webp',
    icon: TbCircleArrowUpRightFilled,
  },
]
---

<section class:list={['w-full', 'bg-black', '!px-10', className]}>
  <div class:list={['container py-8 px-2 w-full']}>
    <Title
      isH1={false}
      class:list={['text-white', 'mb-8']}
    >
      Our Services
    </Title>
    <div
      class:list={[
        'grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3',
        'gap-6 xl:gap-8',
        'mb-6',
        'w-full',
      ]}
    >
      {
        services.map((service) => (
          <InfoCardBasic
            title={service.title}
            text={service.text}
            href={service.href}
            imgSrc={service.imgSrc}
            icon={service.icon}
            class:list={['w-full']}
          />
        ))
      }
    </div>
    <div
      class:list={[
        'flex flex-col sm:flex-row',
        'items-center justify-center',
        'gap-4',
      ]}
    >
      <p class:list={['text-white font-sans text-lg']}>
        ¿Necesitas más información sobre nuestros servicios?
      </p>
      <Button
        href='/contacto'
        isGhost={false}
      >
        Contactar ahora
      </Button>
    </div>
  </div>
</section>
