---
interface Props {
  title: string,
  ctaText: string,
  href: string, 
  imgSrc: string,
  class?: string
}

const { title, ctaText, href, imgSrc, class: className } = Astro.props;
---

<div class:list={[
  'relative',
  'h-80',
  'w-[400px]',
  'hover:w-[600px]',
  'transition-all',
  'duration-700',
  'overflow-hidden',
  'group',
  'flex-shrink-0',
  className
]}>
  <!-- Fondo -->
  <img src={imgSrc} alt={title} class:list={['absolute', 'w-full', 'h-full', 'object-cover', 'grayscale', 'rounded-2xl', 'duration-700']} />

 <!-- Componente 1-->
<div class:list={[
  'absolute',
  'inset-0',
  'z-20'
]}>
  <h2 class:list={[
    'absolute',
    'top-4',
    'left-4',
    'text-white',
    'z-30',
    'mt-35',
    'ml-12',
    'w-2/3',
    'text-center'
  ]}>
    {title}
  </h2>
  <div class:list={[
    'absolute',
    'inset-0',
    'flex',
    'items-center',
    'justify-center'
  ]}>
    <div class:list={['absolute', 'w-110 h-75', 'custom-clip', 'z-10', 'rotate-320', 'duration-700']}></div>
  </div>
</div>


  <!-- Componente 2 -->
  <div class:list={[
    'absolute',
    'inset-0',
    'z-40',
    'transition-all',
    'duration-700',
    'transform',
    'scale-x-0',
    'origin-left',
    'group-hover:scale-x-100'
  ]}>
    <div class:list={[
      'w-full',
      'h-full',
      'flex',
      'justify-between',
      'items-center',
      'bg-white',
      'p-6',
      'rounded-xl',
      'shadow',
      'border',
      'border-blue-900'
    ]}>
      <div class:list={['flex', 'flex-col', 'space-y-4', 'max-w-[60%]']}>
        <h2 class:list={['text-xl', 'font-semibold']}>{title}</h2>
        <slot />
        <div class:list={['flex', 'items-center', 'space-x-3']}>
          <a href={href} class:list={['text-sm', 'font-semibold', 'hover:scale-110', 'flex', 'items-center']}>
            {ctaText}
          </a>
          <slot name="button" />
        </div>
      </div>
      <div
        class:list={[
          'w-[200px]',
          'h-[250px]',
          'bg-cover',
          'bg-center',
          'rounded-md',
          'hover:scale-110'
        ]}
        style={`background-image: url('${imgSrc}')`}>
      </div>
    </div>
  </div>
</div>

<style>
.custom-clip {
  clip-path: polygon(
    18% 16%,
    72% 20%, 
    100% 54%,
    81% 86%,
    28% 82%,
    0% 48%
  );
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}
</style>
